@page "/AdultEdit/{Id:int}"
@using Blazor.Services
@using Blazor.Models

@inject IDataApiService DataApiService
@inject NavigationManager NavigationManager


<div>
    <button class="btn btn-outline-dark" @onclick="@Back">
        Back
    </button>
    <br/>
    <br/>
    <h3>Edit information of @adultToEdit.FirstName</h3>
    <br/>
</div>

<EditForm Model="@adultToEdit" OnValidSubmit="@Save">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> First Name:<br/> <InputText @bind-Value="adultToEdit.FirstName"/> </div>
    <div class="form-group"> Last Name:<br/> <InputText @bind-Value="adultToEdit.LastName"/></div>
    <div class="form-group"> Hair Color:<br/> <InputText @bind-Value="adultToEdit.HairColor"/></div>
    <div class="form-group"> Eye Color:<br/> <InputText @bind-Value="adultToEdit.EyeColor"/></div>
    <div class="form-group"> Height:<br/> <InputNumber @bind-Value="adultToEdit.Height"/></div>
    <div class="form-group"> Weight:<br/> <InputNumber @bind-Value="adultToEdit.Weight"/></div>

    <div class="form-group"> Sex:<br/> 
        <InputSelect @bind-Value="adultToEdit.Sex">
            <option value="F">Female</option>
            <option value="M">Male</option>
        </InputSelect>
    </div>
    <div class="form-group"> Job title:<br/> <InputText @bind-Value="editJob.JobTitle"/></div>
    <div class="form-group"> Salary:<br/> <InputNumber @bind-Value="editJob.Salary"/></div>
    <br/>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Save</button>
    </p>
</EditForm>


@code {

    [Parameter]
    public int Id { get; set; }

    private Adult adultToEdit;
    private Job editJob = new Job();

    protected override async Task OnInitializedAsync()
    {
        adultToEdit = await DataApiService.GetAdultByIdAsync(Id);
        editJob = adultToEdit.JobTitle;
    }

    private void Save()
    {
        adultToEdit.JobTitle = new Job
        {
            JobTitle = editJob.JobTitle,
            Salary = editJob.Salary
        };

        DataApiService.EditAdultAsync(adultToEdit);
        NavigationManager.NavigateTo("/AdultAll");
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/AdultAll");
    }

}