@page "/Register"
@using Blazor.Services
@using Blazor.Models

@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Register</h3>
<br/>

<EditForm Model="@userToRegister" OnValidSubmit="@CreateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Username</label>
        <input type="text" placeholder="username" @bind-value="userToRegister.Username"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="password" @bind-value="userToRegister.Password"/>
    </div>
    <button class="btn-dark" type="submit"> REGISTER </button>
    <br/>
    <div style="color:red">@message</div>
</EditForm>




@code {
    private User userToRegister = new User();
    private string message = "";

    
    private async Task CreateUser()
    {
        message = "";
        try
        {
            await UserService.RegisterUser(userToRegister);
            message = "Congrats! You have been register to the system. You can Login now.";
        }
        catch (Exception e)
        {
            message = e.Message;
        }
    }

}